<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @if(User.Identity.Name != "")  
    {
        @Html.Raw("Hello, ")
        @User.Identity.Name
        <br />
        @Html.ActionLink("Logout", "Logout", "Home")
    }
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="../Assets/css/bootstrap.css" rel="stylesheet">
    <link href="../Assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../Assets/css/styles.css" rel="stylesheet">
    <link href="../Assets/css/theming.css" rel="stylesheet">
</head>
<body id="main">
    <header id="head"></header> <!-- The Sogeti Banner (check theming CSS) -->

        <!-- the content -->
        @RenderBody()
        <script src="../Assets/js/jquery-1.10.2.js"></script>
        <script src="../Assets/js/jquery-ui-1.10.4.custom.js"></script>
        <script src="../Assets/js/jquery-ui-1.10.4.custom.min.js"></script>
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
</body>
</html>
